<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>YourLibs</title>
  <link rel="stylesheet" href="Landing.css">
  <link rel="icon" href="https://github.com/FatwaAlFajar/Library-Online/blob/main/Library%20Online/Book%20Icon.png?raw=true" type="image/png">
</head>
<body>
  <nav>
    <div class="wrapper">
      <div class="logo"><a href="Landing.css">YourLibs</a></div>
      <div class="menu">
        <ul>
          <li><a href="#home">Home</a></li>
          <li><a href="#pinjam">Pinjam buku</a></li>
          <li><a href="#librarian">Librarian</a></li>
          <li><a href="#partner">Partner</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="Signup.html" class="tbl-biru">Sign Up</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="wrapper">
    <!-- Untuk Home -->
    <section id="home">
      <img src="https://mybookabyss.files.wordpress.com/2018/02/book_png2115.png?w=676"/>
      <div class="kolom">
        <p class="deskripsi">Baca Buku?, #dimanaja</p>
        <h2>Tetap Membaca, Kapanpun Dimanapun</h2>
        <p>Nikmati Kemudahan Membaca Di Era Digital !</p>
        <p><a href="" class="tbl-pink">Pelajari Lebih Lanjut</a></p>
      </div>
    </section>

    <!-- Untuk Pinjam -->
    <section id="pinjam">
      <div class="kolom">
        <p class="deskripsi">Kamu Mungkin Butuh Ini ?</p>
        <h2>Pinjam Buku</h2>
        <p>Dengan Database Kami, Memungkinkan Kamu Dapat Meminjam Buku Tanpa Harus Khawatir Kehabisan Stock</p>
        <p>Dan Dengan Sistem Baru Kami, Memungkinkan Pengembalian Buku Tanpa Harus Anda Yang Mengembalikan Secara Otomatis !</p>
        <p><a href="" class="tbl-biru">Pelajari Lebih Lanjut</a></p>
      </div>
      <img src="https://eh.bard.edu/files/2019/10/bookshelf.png"/>
    </section>

    <!-- Untuk librarian -->
    <section id="librarian">
      <div class="tengah">
        <div class="kolom">
          <p class="deskripsi">Our Librarian</p>
          <h2>Librarian</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, ullam.</p>
        </div>

        <div class="librarian-list">
          <div class="kartu-librarian">
            <img src="https://github.com/FatwaAlFajar/Library-Online/blob/main/Library%20Online/Foto%20Fajar.jpg?raw=true"/>
            <p>Fajar</p>
          </div>
          <div class="kartu-librarian">
            <img src="https://github.com/FatwaAlFajar/Library-Online/blob/main/Library%20Online/Foto%20Dea.jpg?raw=true"/>
            <p>Dea</p>
          </div>
          <div class="kartu-librarian">
            <img src="https://github.com/FatwaAlFajar/Library-Online/blob/main/Library%20Online/Foto%20Fachri.jpg?raw=true"/>
            <p>Fachri</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Untuk partner-->
    <section id="partner">
      <div class="tengah">
        <div class="kolom">
          <p class="deskripsi">Our Top partners</p>
          <h2>partners</h2>
          <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veniam officia expedita necessitatibus temporibus voluptatibus? Laborum id eos animi distinctio blanditiis!</p>
        </div>

        <div class="partner-list">
          <div class="kartu-partner">
            <img src="https://th.bing.com/th/id/OIP.Badkaf7to4XYXtbEAnztPgHaHo?rs=1&pid=ImgDetMain"/>
          </div>
          <div class="kartu-partner">
            <img src="https://th.bing.com/th/id/OIP.rP2kJeaCQ1X24W2bA38-5wHaHt?rs=1&pid=ImgDetMain"/>
          </div>
          <div class="kartu-partner">
            <img src="https://pro2-bar-s3-cdn-cf1.myportfolio.com/2f3b861d2f6dbc637f25a60871780f38/9eda9150-5b4d-4dab-985e-198f231b7137_rw_1200.jpg?h=7988b0ebeacb14e2ddef8d2c1ae40a43"/>
          </div>
          <div class="kartu-partner">
            <img src="https://i.pinimg.com/originals/0c/66/a9/0c66a97670b0a66da455821e1f05a95d.jpg"/>
          </div>
          <div class="kartu-partner">
            <img src="https://www.grandesports.com/wp-content/uploads/2018/12/StanfordUniversity_1000x1000-600x600.jpg"/>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Untuk contact -->
  <div id="contact">
    <div class="wrapper">
      <div class="footer">
        <div class="footer-section">
          <h3>YourLibs</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, sed.</p>
        </div>
        <div class="footer-section">
          <h3>About</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, sed.</p>
        </div>
        <div class="footer-section">
          <h3>contact</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, sed.</p>
        </div>
        <div class="footer-section">
          <h3>Social</h3>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, sed.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div id="copyright">
    <div class="wrapper">
      &copy; 2023<b>YourLibs</b>All Rights Reserved
    </div>
  </div>
</body>

<script>
  const app = Vue.createApp({

    beforeCreate() {
      const id = localStorage.getItem("id");

      if (id !== null) {
        window.location.href = 'ListBuku.html';
      }
    },
  });

  app.mount('#app');
</script>
</html>
